@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
}
nav{
    position: sticky;
    font-family: 'Ubuntu', sans-serif;
}
nav ul{
    display:flex;
    align-items: center;
    list-style-type: none;
    height:65px;
    background-color: black;
    color: white;
}
nav ul li{
    padding: 0 12px;
}
.brand img{
    width:49px;
    padding: 7px;
}
.brand{
    display:flex;
    align-items: center;
    font-weight: bold;
    font-size: 21px;
}
.container{
    min-height: 70vh;
    background-color: black;
    color: white;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 12px;
    padding: 34px;
    background-image: url("bg_spotify.avif");
}
.bottom{
    position: sticky;
    height: 130px;
    bottom: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
}
.icons{
    margin-top: 14px;
}
.icons i{
    cursor: pointer;
}
#myProgressBar{
    cursor: pointer;
    width: 80vw;
}
.songItemContainer{
    margin-top: 38px;
}
.songItem{
    height: 50px;
    display: flex;
    background-color: white;
    color: black;
    margin: 14px 0px;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}
.songItem img{
    margin:0 23px;
    width: 44px;
    height: 50px;
    border-radius: 32px;
}
.timestamp{
    margin: 0px 10px;
}
.timestamp i{
    cursor: pointer;
    
}
.songInfo{
    font-family: 'Varela Round', sans-serif;
}
